.personal-card {
    max-width: 1300px;
    margin: 2rem auto;
    padding: 2rem;
    text-align: center;
  }
  
  .title {
    font-size: 45px;
    margin-bottom: 1.5rem;
    color: aliceblue;
  }
  
  .personal-table {
    width: 100%;
    margin-bottom: 1.5rem;
  }
  
  .actions {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
  }
  
  .edit-form {
    margin-top: 2rem;
    text-align: left;
    mat-form-field {
      display: block;
      width: 100%;
    }
  }
  