<mat-toolbar color="primary">
    <span>Smart Manager</span>
    <span class="spacer"></span>
    <nav>
      <a mat-button routerLink="/inicio">Inicio</a>
      <a mat-button routerLink="/producto">producto</a>
      <a mat-button routerLink="/dashboard">DashBoard</a>
      <a mat-button routerLink="/ventas">Ventas</a>
      <a mat-button routerLink="/personal">Personal</a>
      <a mat-button routerLink="/login">Login</a>
      <a mat-button routerLink="/registro">Registro</a>
      <a mat-button routerLink="/registro">Registro</a>
    </nav>
  </mat-toolbar>