.registro-container {
    display: flex;
    justify-content: center;
    // align-items: center;
    height: 80vh auto;
    background-color: #f5f5f5;
    margin: 2rem auto;
    // padding: 2rem;
  }
  
  mat-card {
    width: 700px; // Aumenta el ancho del contenedor
    padding: 30px; // Espaciado interno del contenedor
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1); // Sombra suave para mejor apariencia
    border-radius: 10px; // Bordes redondeados
  }
  
  mat-card-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px; // Tamaño de texto más grande
    // font-weight: bold; // Texto en negrita
    color: aliceblue;
    margin-bottom: 20px;
    margin-top: -20px;
  }
  
  mat-icon {
    margin-right: 10px;
  }
  
  button {
    width: 100%;
    padding: 15px; // Aumenta el tamaño del botón
    font-size: 16px; // Texto del botón más grande
  }
  .color {
    color: aliceblue;
  }
  mat-form-field {
    width: 100%; // Asegura que los campos ocupen todo el ancho
    margin-bottom: 20px; // Espacio entre los campos
  }
  mat-error {
    font-size: 12px; // Reduce el tamaño de los mensajes de error
    color: #f44336; // Color rojo para mensajes de error
  }